<script src="/bower_components/chroma-js/chroma.js"></script>

<%

    jsFiles = [
        'js/app',

        'js/components/position',
        'js/components/mouse_follower',
        'js/components/entity_follower',
        'js/components/display_shape',
        'js/components/line',

        'js/nodes/mouse_follower',
        'js/nodes/entity_follower',
        'js/nodes/render_shape',
        'js/nodes/line_renderer',

        'js/systems/mouse_follower',
        'js/systems/entity_follower',
        'js/systems/render_shape',
        'js/systems/line_renderer',

        'js/factories/entity_factory'
    ];

%>

<%= Ctx.renderExperimentDependencies(jsFiles, locals.experiment) %>

<script>
  Serpentoids.init();
</script>

<body>
</body>